body {
  margin: 0;
  background-color: #09090b; // Zinc-950
  overflow-x: hidden;
}

// Esto crea una "mancha" de luz azul muy suave en el centro
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(14, 165, 233, 0.03) 0%, transparent 70%);
  pointer-events: none;
  z-index: -5;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important; /* Usamos vw para que dependa del ancho visual real */
  height: 100vh !important; /* Usamos vh para que dependa del alto visual real */
  z-index: -1;
  pointer-events: none;
  background-color: transparent; /* Asegúrate de que no tape el fondo del body */
}

/* Ajuste para el canvas interno que genera la librería */
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  width: 100% !important;
  height: 100% !important;
}